# PostgreSQL
POSTGRES_USER=breezy
POSTGRES_PASSWORD=change-me

# Bases de données
AUTH_DB_NAME=auth_db
PROFILE_DB_NAME=profile_db
POST_DB_NAME=post_db

# Connexions des services
AUTH_DATABASE_URL=postgresql://breezy:change-me@postgres:5432/auth_db
PROFILE_DATABASE_URL=postgresql://breezy:change-me@postgres:5432/profile_db
POST_DATABASE_URL=postgresql://breezy:change-me@postgres:5432/post_db

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h

# Communication interne
INTERNAL_API_KEY=change-me
PROFILE_SERVICE_INTERNAL_URL=http://profile-service:3002

# Ports internes
AUTH_SERVICE_PORT=3001
PROFILE_SERVICE_PORT=3002
POST_SERVICE_PORT=3003

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080/api
